#T-orders,
#W-orders,
#M-orders,
#T-invoices,
#W-invoices,
#M-invoices,
#T-payouts,
#W-payouts,
#M-payouts,
#profile,
#available_Notaries,
#clients-table,
#orders-table,
#order_details,
#notary-personal-info,
#table_data,
#payouts_table,
#notary_tables,
#invoice_table {
    animation: fade 0.7s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn-primary {
    color: #fff;
    border-color: #71EFA3;
    background-color: #71EFA3;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #71EFA3;
}

.btn-info {
    color: #fff;
    border-color: #Fde50E;
    background-color: #Fde50E;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-warning {
    color: #fff;
    border-color: #cf2803;
    background-color: #cf2803;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-danger {
    color: #fff;
    border-color: #ee1414;
    background-color: #ee1414;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-success {
    color: #fff;
    border-color: #14ee1f;
    background-color: #14ee1f;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.text-primary {
    color: #71EFA3 !important;
}