#loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #051c91;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}
.mini-loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid transparent;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.mini-loader2 {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid transparent;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
  margin: auto;
}

.card-icons {
  width: 40px;
  height: 40px;
}