body.white {
  background-color: #fff !important;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
}

.additional-members ul {
  border: 1px solid #ccc;
  padding: 1rem 0rem 1rem 2rem;
  max-height: 100px;
  overflow: scroll;
}

.additional-members ul::-webkit-scrollbar {
  display: none;
}

.additional-members p {
  margin: 0%;
}

.additional-members ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links a {
  font-size: 1.3rem !important;
}

.filter-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: flex-end; */
}

.date-picker {
  display: flex;
  align-items: center;
}
.submit-btn {
  height: 50px !important;
  margin-left: 6px;
  width: 100%;
}

@media (max-width: 768px) {
  .filter-flex {
    display: block;
  }
  .date-picker {
    display: block !important;
  }

  .date-picker::before {
    content: "Date Filter";
    margin-left: 13px;
    font-weight: 600;
  }
  .company-name {
    display: none;
  }
}

.company-name {
  text-transform: uppercase;
  font-size: 18px;
}

.filters {
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters input {
  min-width: 600px;
}

.filters select {
  min-width: 300px;
  height: 48px;
  border-color: #5e72c4;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#searchValue {
  border: 1px solid #5e72c4;
}

.image-file input {
  display: none;
}

.image-file label {
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: #1172c2;
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

#img-preview {
  height: 200px;
  width: 200px;
  object-fit: contain;
  border: 1px solid #ccc;
  visibility: hidden;
}

.cp {
  cursor: pointer;
}

.table-preview-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.login-content {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  background: whitesmoke;
  background-color: #4b8ea0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.border-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.loader {
  height: 100vh;
  width: 100%;
  background: #fff;
}

@media (max-width: 768px) {
  .login-content {
    display: block;
  }
  .loader {
    height: 300px;
  }

  .content {
    margin-top: 100px;
  }
}

input {
  width: 100%;
  height: 60px !important;
}

label {
  color: #fff;
}

.logo {
  height: 100px;
  width: 100%;
  display: none;
  object-fit: contain;
  margin-bottom: 50px;
}

.login-btn {
  background: #51afc5;
  color: white;
}

.btn-primary {
  border: none;
  background: #5e72e4 !important;
  background: #51afc5 !important;
}

.nav-link.active {
  border: none;
  background: #5e72e4 !important;
  color: white !important;
  background: #51afc5 !important;
}

.nav-link.active .text-primary {
  color: white !important;
}

.text-primary {
  color: #777 !important;
}

.mobile-nav .navbar-nav .nav-item a {
  padding: 0.5rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.mobile-nav {
  display: none !important;
}

@media (max-width: 1200px) {
  .mobile-nav {
    display: block !important;
  }
}

@media (min-width: 1000px) {
  .at-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .at-center input {
    width: 600px;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  background-color: #5e72c4;
  display: inline-block;
  transition: 0.3s;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #fff;
  border: 1px solid #5e72c4;
  color: #5e72c4;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

#selfieStream {
  width: 240px;
  height: 240px;
}

#selfie {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

@media (max-width: 968px) {
  #selfie {
    border-radius: 0%;
    height: 240px;
    width: 240px;
    object-fit: cover;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
